body {
	font-family:Helvetica, verdana, arial, sans-serif;
}

ul, li {
	margin: 0;
	padding: 0;
	list-style: none;
}

html { 
  margin:0;
  padding:0;
  background-color: #ece9e9;
/*  background: url(background.png) no-repeat top fixed; */
  -webkit-background-size: cover; /* pour Chrome et Safari */
  -moz-background-size: cover; /* pour Firefox */
  -o-background-size: cover; /* pour Opera */
  background-size: cover; /* version standardisée */
}

body, html, ul, li
{
	margin: 0 0 0 0;
}

#site {
	height: 900px ;
	width: 970px ;
	display: block;
	background-color: white;
	margin: 0 auto;
	-moz-box-shadow: 0 0 20px #757575;
	-webkit-box-shadow: 0 0 20px #757575;
	box-shadow: 0 0 20px #757575;
}

#bloc_raccourcis {
	height: 120px;
	display: block;
	width: 970px;
	margin: 0 auto;
	text-align: center;
}

#accident, #pv {
	float: left;
	display: inline;
}

#accident {
	margin: 0 0 0 100px;
}

.logo_raccourci {
	display: block;
	background-color: red;
}

.lien_raccourci {
	width:100%;
	text-decoration: none;
	margin: auto;
	text-align: center;
}

#header {
	width: 970px;
	height: 63px;
	margin: 0 auto 0 auto;
}


#logo {
	height: 100% ;
	width: 8% ;
	float: left;
	display: inline;
	margin: 0 0 0 0;
/*	background-color: rgba(208, 208, 108, 0.44);*/
}


#blocmenu {
	height: 100%;
	width: 82%;
	float: left;
	display: inline;
/*	background-color: rgba(78, 180, 168, 0.51);*/
}

#feu {
	height: 100%;
	width: 10%;
	float: left;
	display: inline;
/*	background-color: rgba(230, 97, 14, 0.66);*/
}

#blocup {
	height: 50% ;
	width: 100% ;
	float: left;
	display: block;
/*	background-color: rgba(255, 0, 0, 0.27);*/
	
}

/*START MENU*/

#menu ul, #menu li {
	line-height:22px;
	text-align:left;
	font-size:14px;
}
/* menu starts here */

#menu {
	height: 50%;
	width: 98%;
	float: left;
	display: block;
	padding: 0;
	margin: 0 0 0 2%;
	list-style: 0;
	list-style:none;
	background-color: rgba(85, 240, 105, 0.48);
}
/* tab starts here */

#menu li {
	float:left;
	display:block;
	position:relative;
	text-align:center;
	padding:4px 10px;
	margin:0px 10px 0 0;
	border:none;
	background-color: #4483c9;
}
#menu li:hover {
	border:none;
	padding:4px 10px;
	background-color: #104075;
}
#menu li a {
	font-size: 14px;
	color: #ffffff;
	display:block;
	outline:0;
	text-decoration:none;
}
#menu li:hover a {
	color: #bfbfbf;
}
/* menu containers here  */

#menu .menu-container-2 {
	margin:4px auto;
	float:left;
	position:absolute;
	left:-999em;
	text-align:left;
	padding:10px 5px;
	border:none;
	border-top:none;
	/* rounded corners */
    
    border-radius:0 5px 5px 5px;
	-moz-border-radius:0 5px 5px 5px;
	-webkit-border-radius:0 5px 5px 5px;
	/* gradient */
	width:280px;
	background-color: #0556b0;
}
#menu li:hover .menu-container-2{
	top:auto;
	left:0px;
}
/* columns ici */

#menu .column-2 {
	display:inline;
	float:left;
	position:relative;
	margin:0 5px;
}
#menu .column-2 {
	width:260px;
}
/* menu h2, h3, p, etc.... */

#menu p {
	line-height:21px;
	font-size:12px;
	text-align:left;
}
#menu p {
	line-height: 18px;
	margin-bottom:10px;
	color: #ffffff;
}
#menu li:hover div a {
/*	box-shadow: 0 1px 0 #111111, 0 2px 0 #777777;*/
	color: #2ea26c;
	font-size: 11px;
	padding-left: 6px;
}
#menu li:hover div a:hover {
	color: #FAFAFA;
	background-color: #104075;
}

/*END MENU*/


/*
#menu {
	height: 50%;
	width: 98%;
	float: left;
	display: block;
	padding: 0;
	margin: 0 0 0 2%;
	list-style: 0; /*suppression des puces*!/
/*	background-color: rgba(42, 207, 46, 0.34);*!/
}

#menu .menupuce {
	display: inline;
	float: left;
	padding: 0 0 0;
	margin: auto 3px auto;
	background-color: #1a68e5;
	border-radius: 4px 4px 0 0;
}


#menu .menupuce .menulien {
	display: block;
	line-height: 30px;
	text-align: center;
	text-decoration: none;
	margin : auto;
	padding: 0 10px;
}


#menu .menupuce, #menu .menupuce .menulien {
	height: 100%;
	border-radius: 4px 4px 0 0;
	color: #ffffff;
}

#menu .menupuce .menulien:hover, #menu .menupuce .menulien:focus, #menu .menupuce .menulien:active {
	background-color: #d66767;
}

.sousmenu {
	position: absolute;
	display:none;
}

.smlien {
	text-decoration: none;
	display: block;
}

.menupuce .menulien:hover {
	display: block;
}*/



#headerline {
	height: 4px ;
	width: 96% ;
	min-width: 1000px ;
	float: left ;
	margin: -1px 2% 0 ;
	background-color: #38a244;
}

#articles {
	width :760px;
	float: left;
	display: inline;
}

#article1 {
	width: 760px;
	height: 208px;
	display: inline;
	float: left;
}

#categorie1 {
	float: left;
	display: inline;
	margin: 10px 10px 0 20px;
	font: 30px "Lucida Grande", Lucida, Verdana, sans-serif;
	color: #565555;
}

#title1 {
	float: left;
	display: inline;
	margin: 10px 10px 0 0;
	font: 30px "Lucida Grande", Lucida, Verdana, sans-serif;
	color: gray;
}

#title1infos {
	display: block;
	margin : 30px 10px 0 20px ;
	color: silver;
}

#titleline {
	float: left;
	display: block;
	height: 4px;
	width: 100%;
	margin: 10px auto auto 0;
	background-color: #dad9d9;
}

#pic1 {
	display: inline;
	float: left;
	height: 100px ;
	width: 150px;
	margin: 20px;
}

#text1 {
	float: left;
	display: inline;
	margin: 20px 0 0 10px ;
	width: 550px ;
	font-family: "Lucida Grande", Lucida, Verdana, sans-serif;
}

#suite1 {
	display: block;
	width : 100px;
	margin: 0 0 0 660px;
}

#article2 {
	width: 760px;
	margin: 50px 0 0 0;
	display: inline ;
	float: left;
}

#faq {
/*	background-color: rgba(83, 83, 83, 0.29);*/
	display: inline;
	width: 170px ;
	height: 500px;
	float: left;
	margin: 10px 0 0 10px ;
}

#titlefaq {
	background-color: #991d15;
	display: block;
	width: 150px ;
	height: 50px ;
	margin:  10px auto;
	font: 20px "Lucida Grande", Lucida, Verdana, sans-serif;
	color: #e3e3c3;
}

#intitulefaq {
  height:50px;
  line-height:50px;
  text-align:center; /* centrage horizontal */
}

#traitvertical {
	float: left;
	display: inline;
	height: 500px;
	width: 2px;
	background-color: #5ad8b6;
	margin: 100px 4px 100px 15px;
}



/*------------styles Tristan------------*/



